<%- include('../_header') %>
  title: <%= title %>
  <a href="/categoria">Atrás</a> <br>
  <form action="/categoria/editar" method="post">
    <input type="hidden" name="id" value="<%=categoria.id%>">
     
    <label>Nombre</label>
    <input type="text" name="nombre" value="<%=categoria.nombre%>"><br>
    <input type="submit" value="Guardar Cambios">
  </form>
  <%- include('../_footer') %>
</body>
</html>